/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
 
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

@font-face {
  font-family: 'field-gothic-xwide';
  src: url('/path-to-your-font.woff2') format('woff2'),
       url('/path-to-your-font.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  /* overflow: hidden; */
}

