.menu {
    display: flex;
}

.menu-cont {
    display: flex;
    flex-direction: row;
    width: 100vw;
    font-family: "field-gothic-xwide", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2vw;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: fixed;
    top: 0;
    padding: 0 4vw 0 4vw;
    height: 6vw;
    color: black;
    opacity: 1;
}
